[Unit]
WantedBy=multi-user.target
Description=SMASpot Exporter for Prometheus
After=network.target

[Service]
Environment=PYTHONIOENCODING=utf-8
ExecStart=/usr/bin/python /usr/local/share/smaspot/smaserve.py
StandardOutput=null
User=root

[Install]
WantedBy=multi-user.target
