{% extends "base.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; hl Django HTML Template; #}
{% block content %}
  <h2>Login</h2>

  {% if form.errors %}
  <div class="alert alert-info">
    <p>Username or password don't exist or are not correct. Please try again.</p>
  </div>
  {% endif %}

  <div>
    <form role="form" class="form-horizontal" method="post" action=".">
      {% csrf_token %}
      <div class="form-group {% if form.username.errors %}has-error{% endif %}">
        {{ form.username.errors }}
        <label for="id_{{ form.username.html_name }}" class="col-lg-2 control-label">{{ form.username.label }}</label>
        <div class="col-lg-10">
          <input type="text" class="form-control"
            name="{{ form.username.html_name }}"
            id="id_{{ form.username.html_name }}"
            {% if form.username.value %} value="{{ form.username.value }}" {% endif %}
            placeholder="{{ form.username.label }}" />
        </div>
      </div>
      <div class="form-group {% if form.password.errors %}has-error{% endif %}">
        {{ form.password.errors }}
        <label for="id_{{ form.password.html_name }}" class="col-lg-2 control-label">{{ form.password.label }}</label>
        <div class="col-lg-10">
          <input type="password" class="form-control"
            name="{{ form.password.html_name }}"
            id="id_{{ form.password.html_name }}"
            placeholder="{{ form.password.label }}" />
        </div>
      </div>
      <input type="hidden" name="next" value="{{ next }}" />
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-default">Login</button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}
