{% extends "base.html" %}
{% comment %} kate: space-indent on; indent-width 2; replace-tabs on; {% endcomment %}
{% block content %}
  <h2>Hi {{ user }}</h2>

  <p>
    This page should probably inform you of current alerts you are subscribed to or something.
    Thing is, for that to happen, we need to have alerts first.
  </p>

  <div class="alert alert-success">This is what a success message looks like.</div>
  <div class="alert alert-info">Alerts could look like this...</div>
  <div class="alert alert-warning">...or this...</div>
  <div class="alert alert-danger">...or this.</div>


  {% include "monitoring/searchform.inc.html" %}
{% endblock %}
