{% extends "base.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; hl Django HTML Template; #}
{% load display_extras %}
{% load gravatar_extras %}
{% load monitoring_extras %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    {% if user.first_name and user.last_name %}
      {{ user.first_name }} &ldquo;{{ user.username }}&rdquo; {{ user.last_name }}
    {% else %}
      {{ user.username }}
    {% endif %}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">{% gravatar user %}</div>
      <div class="col-md-8">
        <dl class="dl-horizontal">
          <dt>Joined:</dt>
          <dd>{{ user.date_joined }}</dd>
          <dt>Last login:</dt>
          <dd>{{ user.last_login }}</dd>
          {% if user.is_staff or user.is_superuser %}
            <dt>Special privileges:</dt>
            <dd>
              {% if user.is_staff %}Staff{% endif %}
              {% if user.is_superuser %}Superuser{% endif %}
            </dd>
          {% endif %}
        </dl>
        <h1 class="panel-title">Roles:</h1>
        <ul>
          {% for role in user.role_set.all %}
            <li>{{ role }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Most viewed graphs</div>
  <div class="panel-body">
    <table class="table table-hover">
      <tbody>
      {% for counter in most_viewed %}
        <tr targetlink="{% url 'monitoring.views.render_check_page' counter.check_inst.uuid counter.variable.name %}" class="checktr">
          <td>
            {{ counter.check_inst.target_host|display:"fqdn" }} / {{ counter.check_inst|display:"uuid" }} / {{ counter.variable|display }}
          </td>
          <td><a href="{% url 'monitoring.views.render_check_page' counter.check_inst.uuid counter.variable.name %}" title="View graph" style="text-decoration: none">→</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
$(".checktr").click(function(ev){
  ev.preventDefault();
  ev.stopPropagation();
  if(ev.ctrlKey){
    window.open(this.attributes.targetlink.value);
  }
  else{
    window.location = this.attributes.targetlink.value;
  }
});
</script>

{% endblock %}
