{% extends "base.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; hl Django HTML Template; #}
{% load display_extras %}
{% block title %}Fluxmon &mdash; {{ host|display:"fqdn" }}{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url hosts.views.domains %}">Hosts</a></li>
  <li class="active">{{ host|display:"fqdn" }}</li>
</ol>
<div class="btn-group" style="float: right">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{% url monitoring.views.config host.fqdn %}" target="_blank">Download Config</a></li>
    <li class="divider"></li>
    <li><a href="#">Delete all Checks</a></li>
    <li><a href="{% url hosts.views.delete_host host.fqdn %}">Delete Host</a></li>
  </ul>
</div>
<dl class="dl-horizontal">
  <dt>Host:</dt>
  <dd>{{ host.fqdn }}</dd>
</dl>
{% include "monitoring/listchecks.inc.html" with list_checks=checks %}
{% endblock %}
