{% extends "base.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; hl Django HTML Template; #}
{% load display_extras %}
{% block title %}{{ host|display:"fqdn" }} &mdash; Fluxmon{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'hosts.views.domains' %}">Hosts</a></li>
  <li class="active">{{ host|display:"fqdn" }}</li>
</ol>
<h2>Delete Host</h2>
<dl class="dl-horizontal">
  <dt>Host:</dt>
  <dd>{{ host.fqdn }}</dd>
</dl>
<h3>Confirm</h3>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <p><input type="submit" /></p>
</form>
<h3>Checks for this host:</h3>
{% include "monitoring/listchecks.inc.html" with list_checks=target_checks %}
<h3>Checks for other hosts, conducted by this one:</h3>
{% include "monitoring/listchecks.inc.html" with list_checks=exec_checks %}
{% endblock %}
