{% extends "base.html" %}
{% load display %}
{% comment %} kate: space-indent on; indent-width 2; replace-tabs on; {% endcomment %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url monitoring.views.check_details check.uuid %}">{{ check|display:"uuid" }}</a></li>
</ol>
<dl class="dl-horizontal">
  <dt>Check:</dt>
  <dd>
    <div class="fluxeditable">
      <div class="fluxlabel">
        <span>{{ check|display:"uuid" }}</span>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil" title="Edit..."></span></button>
      </div>
      <div class="fluxeditor fluxhidden">
        <form class="form-inline" role="form">
          <input type="hidden" name="objid" value="{{ check.id }}" />
          <input type="hidden" name="uuid" value="{{ check.uuid }}" />
          <div class="form-group"><input name="display" value="{{ check.display }}" class="form-control" size="50" placeholder="{{ check.uuid }}"/></div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
    <script>
      $("div.fluxeditable").children("div.fluxlabel").children("button").click(function(){
        var fluxeditable = $(this.parentNode.parentNode);
        fluxeditable.children("div.fluxlabel").addClass("fluxhidden");
        fluxeditable.children("div.fluxeditor").removeClass("fluxhidden");
        fluxeditable.children("div.fluxeditor").children("form").submit(function(){
          var fallback = this.uuid.value;
          $.ajax({
            type: "POST",
            url:  "/display/monitoring/check",
            data: {
              id:      this.objid.value,
              display: this.display.value,
            },
            dataType: "json",
            success: function(data){
              fluxeditable.children("div.fluxlabel").children("span").html(data.display || fallback);
              fluxeditable.children("div.fluxlabel").removeClass("fluxhidden");
              fluxeditable.children("div.fluxeditor").addClass("fluxhidden");
            }});
          return false;
        });
      });
    </script>
  </dd>
  <dt>Sensor:</dt>
  <dd>{{ check.sensor }}</dd>
  <dt>Executed on host:</dt>
  <dd>{{ check.exec_host }}</dd>
  <dt>Target host:</dt>
  <dd>{{ check.target_host }}</dd>
  <dt>Last update:</dt>
  <dd>{{ check.last_update }}</dd>
  {% if check.checkparameter_set.count %}
    <dt>Parameters:</dt>
    <dd>
      <ul class="list-unstyled">
        {% for checkparam in check.checkparameter_set.all %}
          <li><i>{{ checkparam.parameter|display }}:</i> {{ checkparam.value }}</li>
        {% endfor %}
      </ul>
    </dd>
  {% endif %}
</dl>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Variable</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
  {% for variable in check.sensor.sensorvariable_set.all %}
    <tr onclick="window.location='{% url monitoring.views.render_check_page check.uuid variable.name %}';">
      <td>{{ variable|display }}</td>
      <td><a href="{% url monitoring.views.render_check_page check.uuid variable.name %}" title="View graph" style="text-decoration: none">→</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
