{# kate: space-indent on; indent-width 2; replace-tabs on; hl Django HTML Template; #}
{% load display_extras %}
<dl class="dl-horizontal">
  <dt>Check:</dt>
  <dd>{{ check|displayform:"uuid" }}</dd>
  <dt>Sensor:</dt>
  <dd>{{ check.sensor }}</dd>
  <dt>Executed on host:</dt>
  <dd><a href="{% url hosts.views.host check.exec_host.fqdn %}">{{ check.exec_host|display:"fqdn" }}</a></dd>
  <dt>Target host:</dt>
  <dd><a href="{% url hosts.views.host check.target_host.fqdn %}">{{ check.target_host|display:"fqdn" }}</a></dd>
  <dt>Last update:</dt>
  <dd>{{ check.last_update }}</dd>
  {% if check.checkparameter_set.count %}
    <dt>Parameters:</dt>
    <dd>
      <ul class="list-unstyled">
        {% for checkparam in check.checkparameter_set.all %}
          <li><i>{{ checkparam.parameter|display }}:</i> {{ checkparam.value }}</li>
        {% endfor %}
      </ul>
    </dd>
  {% endif %}
  {% if check.current_alert %}
  <dt>Failing since:</dt>
  <dd>{{ check.current_alert.starttime }} ({{ check.current_alert.starttime|timesince }})</dd>
  <dt>Fail count:</dt>
  <dd>{{ check.current_alert.failcount }}</dd>
  {% else %}
  {% if check.alert_set.count %}
  <dt>Last failure:</dt>
  <dd>{{ check.alert_set.latest.starttime }} - {{ check.alert_set.latest.endtime }}</dd>
  <dt>Fail count:</dt>
  <dd>{{ check.alert_set.latest.failcount }}</dd>
  {% endif %}
  {% endif %}
</dl>
