{% extends "base.html" %}
{% load display_extras %}
{% comment %} kate: space-indent on; indent-width 2; replace-tabs on; {% endcomment %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url monitoring.views.check_details check.uuid %}">{{ check|display:"uuid" }}</a></li>
</ol>
<dl class="dl-horizontal">
  <dt>Check:</dt>
  <dd>{{ check|displayform:"uuid" }}</dd>
  <dt>Sensor:</dt>
  <dd>{{ check.sensor }}</dd>
  <dt>Executed on host:</dt>
  <dd>{{ check.exec_host }}</dd>
  <dt>Target host:</dt>
  <dd>{{ check.target_host }}</dd>
  <dt>Last update:</dt>
  <dd>{{ check.last_update }}</dd>
  {% if check.checkparameter_set.count %}
    <dt>Parameters:</dt>
    <dd>
      <ul class="list-unstyled">
        {% for checkparam in check.checkparameter_set.all %}
          <li><i>{{ checkparam.parameter|display }}:</i> {{ checkparam.value }}</li>
        {% endfor %}
      </ul>
    </dd>
  {% endif %}
</dl>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Variable</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
  {% for variable in check.sensor.sensorvariable_set.all %}
    <tr onclick="window.location='{% url monitoring.views.render_check_page check.uuid variable.name %}';">
      <td>{{ variable|display }}</td>
      <td><a href="{% url monitoring.views.render_check_page check.uuid variable.name %}" title="View graph" style="text-decoration: none">→</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script type="text/javascript" src="/static/display/display.js"></script>
{% endblock %}
