{% extends "base.html" %}
{% load display_extras %}
{# kate: space-indent on; indent-width 2; replace-tabs on; hl Django HTML Template; #}
{% block title %}Fluxmon &mdash; {{ check.target_host|display:"fqdn" }} &mdash; {% for checkparam in check.checkparameter_set.all %}{{ checkparam.parameter|display }}: {{ checkparam.value }}{% endfor %}{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>
    <a href="{% url hosts.views.host check.target_host.fqdn %}">{{ check.target_host|display:"fqdn" }}</a>
    {% if check.target_host != check.exec_host %}(as seen by <a href="{% url hosts.views.host check.exec_host.fqdn %}">{{ check.exec_host|display:"fqdn" }}</a>){% endif %}
  </li>
  <li class="active">{{ check|display:"uuid" }}</li>
</ol>
{% include "monitoring/checkinfo.inc.html" %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Variable</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
  {% for variable, alerts in vars %}
    <tr targetlink="{% url monitoring.views.render_check_page check.uuid variable.name %}" class="checktr {% if alerts %}warning{% else %}success{% endif %}">
      <td>
        {{ variable|display }}
      </td>
      <td><a href="{% url monitoring.views.render_check_page check.uuid variable.name %}" title="View graph" style="text-decoration: none">→</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script type="text/javascript">
$(".checktr").click(function(ev){
  ev.preventDefault();
  ev.stopPropagation();
  if(ev.ctrlKey){
    window.open(this.attributes.targetlink.value);
  }
  else{
    window.location = this.attributes.targetlink.value;
  }
});
</script>
{% endblock %}
