{% extends "base.html" %}
{% comment %} kate: space-indent on; indent-width 2; replace-tabs on; {% endcomment %}
{% block content %}
<ul>
  <li><b>Sensor:</b> {{ check.sensor }}</li>
  <li><b>Executed on host:</b> {{ check.exec_host }}</li>
  <li><b>Target host:</b> {{ check.target_host }}</li>
  <li><b>Last update:</b> {{ check.last_update }}</li>
  {% if check.checkparameter_set.count %}
    <li><b>Parameters:</b>
      <ul>
        {% for checkparam in check.checkparameter_set.all %}
          <li><i>{% if checkparam.parameter.display %}{{ checkparam.parameter.display }}{% else %}{{ checkparam.parameter.name }}{% endif %}</i>: {{ checkparam.value }}</li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}
</ul>
<h3>{% if variable.display %}{{ variable.display }}{% else %}{{ variable.name }}{% endif %}</h3>
<div style="width: 100%">
  <img class="widescreenonly"   src="{% url monitoring.views.render_check check.uuid variable.name %}" alt="graph" style="margin: 0 auto" />
  <img class="narrowscreenonly" src="{% url monitoring.views.render_check check.uuid variable.name %}?width=410" alt="graph" style="margin: 0 auto" />
  <img class="tinyscreenonly"   src="{% url monitoring.views.render_check check.uuid variable.name %}?width=220" alt="graph" style="margin: 0 auto" />
</div>
<p><a href="{% url monitoring.views.check_details check.uuid %}" title="back" style="text-decoration: none">←</a></p>
{% endblock %}
