{% extends "base.html" %}
{% load display_extras %}
{# kate: space-indent on; indent-width 2; replace-tabs on; hl Django HTML Template; #}
{% block title %}{{ variable|display }} &mdash; {% for checkparam in check.checkparameter_set.all %}{{ checkparam.parameter|display }}: {{ checkparam.value }} {% endfor %} &mdash; {{ check.target_host|display:"fqdn" }} &mdash; Fluxmon{% endblock %}
{% block content %}
<div>
  <ol class="breadcrumb">
    <li class="hidden-xs"><a href="{% url 'hosts.views.domains' %}">Hosts</a></li>
    <li class="visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">
      <a href="{% url 'hosts.views.host' check.target_host.fqdn %}">{{ check.target_host|display:"fqdn" }}</a>
      {% if check.target_host != check.exec_host %}(as seen by <a href="{% url 'hosts.views.host' check.exec_host.fqdn %}">{{ check.exec_host|display:"fqdn" }}</a>){% endif %}
    </li>
    <li class="visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">
      <a href="{% url 'monitoring.views.check_details' check.uuid %}">{{ check|display:"uuid" }}</a>
    </li>
    <li class="hidden-xs active">{{ variable|display }}</li>
  </ol>
</div>
<div class="hidden-xs">
  {% include "monitoring/checkinfo.inc.html" %}
</div>
<h3>{{ variable|display }}</h3>
<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
  <interactive-graph check="{{ check.uuid }}" variable="{{ variable.name }}" variable-display="{{ variable.display }}" variable-unit="{{ variable.unit }}" graph-state="graphstate" ></interactive-graph>
  <table class="table">
    <thead>
      <tr>
        <th> </th>
        <th>Cur</th>
        <th>Min</th>
        <th>Avg</th>
        <th>Max</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ variable.display }}</td>
        <td>{[ graphstate.last | number:2 ]}</td>
        <td>{[ graphstate.min  | number:2 ]}</td>
        <td>{[ graphstate.avg  | number:2 ]}</td>
        <td>{[ graphstate.max  | number:2 ]}</td>
      </tr>
    </tbody>
  </table>
  <dl class="dl-horizontal">
    <dt>Start:</dt>
    <dd>{[ graphstate.start | date:'medium' ]}
      <span ng-show="graphstate.start < graphstate.data_start">(data starts {[ graphstate.data_start | date:'medium' ]})</span>
    </dd>
    <dt>End:</dt>
    <dd>{[ graphstate.end   | date:'medium' ]}
      <span ng-show="graphstate.end   > graphstate.data_end"  >(data ends {[ graphstate.data_end   | date:'medium' ]})
    </dd>
  </dl>
</div>
{% endblock %}
