{% extends "base.html" %}
{% load display_extras %}
{# kate: space-indent on; indent-width 2; replace-tabs on; hl Django HTML Template; #}
{% block title %}{{ variable|display }} &mdash; {% if check %}{% for checkparam in check.checkparameter_set.all %}{{ checkparam.parameter|display }}: {{ checkparam.value }} {% endfor %} &mdash; {{ check.target_host|display:"fqdn" }} &mdash; {% endif %}Fluxmon{% endblock %}
{% block content %}
<div>
  <ol class="breadcrumb">
    <li class="hidden-xs"><a href="{% url 'hosts.views.domains' %}">Hosts</a></li>
    {% if check %}
    <li class="visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">
      <a href="{% url 'hosts.views.host' check.target_host.fqdn %}">{{ check.target_host|display:"fqdn" }}</a>
      {% if check.target_host != check.exec_host %}(as seen by <a href="{% url 'hosts.views.host' check.exec_host.fqdn %}">{{ check.exec_host|display:"fqdn" }}</a>){% endif %}
    </li>
    <li class="visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">
      <a href="{% url 'monitoring.views.check_details' check.uuid %}">{{ check|display:"uuid" }}</a>
    </li>
    {% elif domain %}
    <li><a href="{% url 'hosts.views.domain' domain.id %}">{{ domain }}</a></li>
    {% endif %}
    <li class="hidden-xs active">{{ variable|display }}</li>
  </ol>
</div>
{% if check %}
<div class="hidden-xs">
  {% include "monitoring/checkinfo.inc.html" %}
</div>
{% endif %}
<h3>{{ variable|display }}</h3>
<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding"
     ng-controller="interactiveGraphCtrl">
  <interactive-graph check="{{ check.uuid }}" domain="{{ domain.id }}" variables="{{ variables }}" graph-state="graphstate" ></interactive-graph>
  <table class="table">
    <thead>
      <tr>
        <th> </th>
        <th ng-hide="isMobile">Cur</th>
        <th>Min</th>
        <th>Avg</th>
        <th>Max</th>
        <th ng-hide="isMobile">95%l</th>
        <th> </th>
        <th ng-hide="isMobile"> </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="varstats in graphstate.stats">
        <td>{[ varstats.variable.display || varstats.variable.name ]}</td>
        <td ng-hide="isMobile">{[ varstats.last | scalenumber ]}</td>
        <td>{[ varstats.min  | scalenumber ]}</td>
        <td>{[ varstats.avg  | scalenumber ]}</td>
        <td>{[ varstats.max  | scalenumber ]}</td>
        <td ng-hide="isMobile">{[ varstats.p95  | scalenumber ]}</td>
        <td>{[ varstats.variable.unit ]}</td>
        <td ng-hide="isMobile"><span ng-show="varstats.variable.formula" class="glyphicon glyphicon-info-sign" title="{[ varstats.variable.name ]} = {[ varstats.variable.formula ]}"></span></td>
      </tr>
    </tbody>
  </table>
  <dl class="dl-horizontal">
    <dt>Start:</dt>
    <dd>{[ graphstate.start | date:'medium' ]}
      <span ng-show="graphstate.start < graphstate.data_start">(data starts {[ graphstate.data_start | date:'medium' ]})</span>
    </dd>
    <dt>End:</dt>
    <dd>{[ graphstate.end   | date:'medium' ]}
      <span ng-show="graphstate.end   > graphstate.data_end"  >(data ends {[ graphstate.data_end   | date:'medium' ]})
    </dd>
    <dt>Query time:</dt>
    <dd>{[ graphstate.query_time | number:2 ]} seconds</dd>
  </dl>
</div>
{% endblock %}
