{# kate: space-indent on; indent-width 2; replace-tabs on; #}
{% load display_extras %}
{% if list_checks %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Host</th>
      <th>Check Label</th>
      <th>Sensor</th>
      <th>Parameters</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
  {% for check in list_checks %}
    <tr onclick="window.location='{% url monitoring.views.check_details check.uuid %}';">
      <td>
        {{ check.target_host }}
        {% if check.target_host != check.exec_host %}(as seen by {{ check.exec_host }}){% endif %}
      </td>
      <td>{{ check|displayonly }}</td>
      <td>{{ check.sensor }}</td>
      <td>{{ check.paramstring }}</td>
      <td><a href="{% url monitoring.views.check_details check.uuid %}" title="View details" style="text-decoration: none">→</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>No checks found.</p>
{% endif %}
