{% comment %} kate: space-indent on; indent-width 2; replace-tabs on; {% endcomment %}
  <h2>Search</h2>

  <div>
    <form action="{% url monitoring.views.search %}" method="post">
      {% csrf_token %}
      {{ searchform.non_field_errors }}
      <div class="input-group fieldWrapper">
        {{ searchform.query.errors }}
        <input type="text" class="form-control"
          name="{{ searchform.query.html_name }}"
          {% if searchform.query.value %} value="{{ searchform.query.value }}" {% endif %}
          placeholder="{{ searchform.query.label }}" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    setTimeout(function(){
      document.getElementById('id_query').focus();
    }, 500);
  </script>
