{% comment %} kate: space-indent on; indent-width 2; replace-tabs on; {% endcomment %}
  <h2>Search</h2>

  <div>
    <form action="{% url monitoring.views.search %}" method="post">
      {% csrf_token %}
      {{ searchform.non_field_errors }}
      <div class="fieldWrapper">
          {{ searchform.query.errors }}
          {{ searchform.query }}
      </div>
      <center><input type="submit" value="Submit" /></center>
    </form>
  </div>

  <script type="text/javascript">
    setTimeout(function(){
      document.getElementById('id_query').focus();
    }, 500);
  </script>
